<!DOCTYPE html>
<html>
<head>
	<title>My Webpage</title>
</head>
<style>
	h1{
		text-align: center
	}

	p{
		text-align: center
	}

	footer{
		position: absolute;
		left: 0;
		bottom: 0;
	}
</style>
<body>
<h1>Home Page</h1>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>

<p>
	This is a sample paragraph.
</p>

<footer>
	This is a footer.
</footer>
</body>
</html>